

<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row footer-text">
            <div class="col-md-3">
                <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" width="120px">
            </div>
            <div class="col-md-3">
                <h5>Síguenos en</h5>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#" class="text-light"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contáctanos</h5>
                <p>Email: contacto@adopciongatos.com</p>
                <p>Teléfono: +51 923 456 890</p>
            </div>
            <div class="col-md-3">
                <h5>Términos y Condiciones</h5>
                <a href="#" class="text-light">Ver Términos y Condiciones</a>
            </div>
        </div>
        <div class="text-center mt-3 footer-text">
            <p class="mb-0">© 2024 Sistema de Adopción de Gatos. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
