<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/forgot-password}" method="post">
            <h1>Recuperar Contraseña</h1>
            <p>Ingresa tu correo electrónico para restablecer tu contraseña.</p>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <button type="submit">Verificar Correo</button>
        </form>
    </div>
</body>
</html>
