<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Styles -->
    <link rel="stylesheet" href="css/nosotros.css">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css"/>
</head>

<body>
    <main>
        <section id="humanos" style="background-color: #b58c90;" class="text-light py-4 text-center">
            <div class="contenedor container">
                <h2 class="title text-center" style="font-size: 3rem;">
                    <span style="color: white;">Los humanos detrás de </span><span>Miau</span>
                </h2>
                <div class="row justify-content-center">
                    <img src="../static/img/equipohumano.jpeg" alt="equipohumano" class="img-fluid" style="max-width: 60%;">
                </div>
            </div>
        </section>

        <section id="nosotros">
            <div class="contenedor container"><br><br>
                <h2 class="title text-center">Conoce más sobre <span>nosotros</span></h2>
                
                <p class="text-center" style="line-height: 2; margin-bottom: 30px;">
                    Adopta Miu es una sociedad anónima cerrada fundada en 2022 en Lima, Perú, con el objetivo de abordar
                    la problemática de los gatos callejeros y promover la adopción responsable de mascotas. 
                    La organización se dedica a la adopción de felinos y ofrece educación sobre el bienestar animal, 
                    consultas veterinarias, venta de accesorios y programas de esterilización. Inició con un refugio 
                    temporal, donde un grupo de cinco entusiastas del bienestar animal rescató gatos en riesgo. 
                    Desde entonces, han rehabilitado a más de 100 gatos, brindándoles atención médica y un entorno 
                    seguro. En 2023, inauguraron su primer refugio permanente, mejorando las condiciones de cuidado 
                    y permitiendo albergar a más felinos.
                </p>
                <div class="text-center">
                    <h2>
                        <a href="../static/img/reporte.pdf" class="btn btn-custom" target="_blank">Mira todo el impacto aquí</a>
                    </h2>
                </div>
                
                <p class="text-center" style="line-height: 2; margin-bottom: 20px;"><br>
                    Adopta Miu también ha establecido alianzas con veterinarias locales para garantizar atención médica 
                    adecuada y realiza campañas de sensibilización sobre la importancia de la adopción y la tenencia 
                    responsable. Con más de 15 voluntarios, la organización se ha consolidado como un referente en la 
                    región, promoviendo una cultura de cuidado hacia los animales. Su estructura organizativa eficiente 
                    facilita la comunicación entre los diferentes departamentos, asegurando así el cumplimiento de su 
                    misión y un impacto positivo en la comunidad.<br><br>
                </p>
            </div>
        </section>    

        <section id="equipo" style="background-color: #b58c90;" class="text-light py-4 text-center">
            <div class="contenedor container"><br>
                <h2 class="title text-center style="font-size: 3rem;">
                    <span style="color: white; ">Nuestro equipo<br><br></span>
                </h2>
                <div class="row justify-content-center">
                    <!-- Sección 1-->
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <img src="../static/img/fundador1.jpg" alt="fundador1" class="img-fluid" style="max-width: 75%;">
                        <p class="text-center mt-2"><b>Micaela</b> - Fundadora</p>
                    </div>
                    <!-- Sección 2-->
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <img src="../static/img/fundador2.png" alt="fundador2" class="img-fluid" style="max-width: 75%;">
                        <p class="text-center mt-2"><b>Yoel</b> - Fundador</p>
                    </div>
                    <!-- Sección 3-->
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <img src="../static/img/fundador3.png" alt="fundador3" class="img-fluid" style="max-width: 75%;">
                        <p class="text-center mt-2"><b>Claudia</b> - Fundadora</p>
                    </div>
                    <!-- Sección 4-->
                    <div class="col-md-4 d-flex flex-column align-items-center"><br><br>
                        <img src="../static/img/fundador4.jpg" alt="fundador4" class="img-fluid" style="max-width: 75%;">
                        <p class="text-center mt-2"><b>Sebastian</b> - Fundador</p>
                    </div>
                    <!-- Sección 5-->
                    <div class="col-md-4 d-flex flex-column align-items-center"><br><br>
                        <img src="../static/img/fundador5.jpeg" alt="fundador5" class="img-fluid" style="max-width: 75%;">
                        <p class="text-center mt-2"><b>Valeria</b> - Fundadora <br><br></p>
                    </div>
                </div>
            </div>
        </section>  
    </main> 
   
    <footer class="bg-dark text-light py-4 text-center"><br>
        <div class="container">
            <div class="row footer-text">
                <!-- Contáctanos-->
                <div class="col-md-3">
                    <h5>Contáctanos</h5>
                    <p>Email: contacto@adopciongatos.com</p>
                </div>
                <!-- Términos y Condiciones-->
                <div class="col-md-3">
                    <h5>Términos y Condiciones</h5>
                    <a href="#" class="text-light">Ver Términos y Condiciones</a>
                </div>
                <!-- Copyright-->
                <div class="col-md-3">
                    <p class="mb-0">© 2024 Sistema de Adopción de Gatos. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

