<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
    <title>Restablecer Contraseña</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/reset-password}" method="post">
            <h1>Restablecer Contraseña</h1>
            <input type="hidden" name="email" th:value="${email}" />
            <input type="password" name="newPassword" placeholder="Nueva Contraseña" required>
            <button type="submit">Actualizar Contraseña</button>
        </form>
    </div>
</body>
</html>
